@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap');

@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap");

@font-face {
    font-family: justadream_hallow;
    src: url("justadream_hollow.ttf");
}

@font-face {
    font-family: justadream_solid;
    src: url("justadream_solid.ttf");
}


body {
    background: url("p322_haringshow.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 100%;
    margin: 0;
    overflow-x: hidden;
}

article {
    background-color: #000000;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    margin: 50px;
    padding: 20px;
    border: 10px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 15px #000000;
    font-family: "Patrick Hand SC", cursive;
}

header {
/*    border-bottom: 5px solid rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    padding-bottom: 20px;*/
}

header p {
    font-family: "Patrick Hand SC", cursive; !important;
    font-size: 0.9em;
    text-align: center;
}

section {
    line-height: normal;
    font-weight: normal;
}


h1, h2 {
    font-family: justadream_hallow, sans-serif;
    line-height: 0.8;
    font-weight: normal;
    text-align: center;
}

h3, h4 {
    font-family: justadream_solid, sans-serif;
    line-height: 0.8;
    font-weight: normal;
    text-align: left;
}

h1 {
    font-size: 4.0em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 0.9em;
}

hr {
/*    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 7px dashed #FE7600;
    max-width: 90%;*/
    display:block;
    border: 0;
    height:20px;
    background-image:url('wave-square-solid.svg');
}


h1, h2, h3, p, hr {
    /*text-shadow: 0 0 4px rgba(255,255,255,0.6);*/
    transform: rotate(-1deg) rotateY(15deg);
    -webkit-transform: rotate(-1deg) rotateY(15deg);
}

/*:not(a) {*/
/*    text-shadow: 0 0 4px rgba(255,255,255,0.6);*/
/*}*/

p {
    font-size: 50px;
}

p strong, p b {
    color: #FE0471;
    font-weight: normal;
}

blockquote {
    font-family: justadream_solid, sans-serif;
    font-size: 2.1em;
}

blockquote:hover {
    -webkit-animation: wobble-hor-bottom 0.8s;
    animation: wobble-hor-bottom 1.0s;
}


figure {
    position: relative;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 80%;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg); /*or saturate?*/
    border: 8px solid white;
    border-radius: 2% 98% 1% 99% / 97% 3% 97% 3%;
}

img:hover {
    -webkit-animation: wobble-hor-bottom 0.8s;
    animation: wobble-hor-bottom 1.0s;
}

figcaption {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.2em;
}

/* Animation from animista.net*/

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}


a:link {
    color: #0E93B2;
    text-decoration: none;
}

a:hover {
    color: #56B4CA;
    font-size: larger;
    text-decoration: underline wavy;
}

a:visited {
    color: #03748E;
}

sup {

}

footer {
    text-align: left;
    font-size: 10px;
}

.block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.en, .es {
    width: 48%;

}
